################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/MSTART_Hiring_Task/.vs
/MSTART_Hiring_Task/MSTART_Hiring_Task/bin/Debug/net7.0/en-US/MSTART_Hiring_Task.resources.dll
/MSTART_Hiring_Task/MSTART_Hiring_Task/bin/Debug/net7.0/MSTART_Hiring_Task.dll
/MSTART_Hiring_Task/MSTART_Hiring_Task/bin/Debug/net7.0/MSTART_Hiring_Task.exe
/MSTART_Hiring_Task/MSTART_Hiring_Task/bin/Debug/net7.0/MSTART_Hiring_Task.exe
/MSTART_Hiring_Task/MSTART_Hiring_Task/bin/Debug/net7.0/MSTART_Hiring_Task.dll
